<p>New transaction</p>
<form (ngSubmit)="addTransaction()" #addTransactionForm="ngForm" class="form">
  <div class="form-row">
    <div class="form-group mb-2">
        <select class="form-control form-control-sm" required [(ngModel)]="model.transactionType" name="transactionType" id="transactionType" #transactionType="ngModel">
            <option value="1">Deposit</option>
            <option value="0">Withdraw</option>
        </select>
    </div>
    <div class="form-group mb-2">
      <input class="form-control form-control-sm" step=".01" min="0" required placeholder="Amount" type="number" [(ngModel)]="model.amount" name="amount"  id="amount" #amount="ngModel" />
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-primary mb-2">Go!</button>
    </div>
  </div>
</form>