<h4>Transactions</h4>
<hr />
<ul class="list-group" *ngIf="transactions.length === 0">
  <li class="list-group-item">You havn't made any transactions yet. Add some!</li>
</ul>
<ul class="list-group" *ngIf="transactions.length > 0">
  <li class="list-group-item" [ngClass]="{' list-group-item-success': transaction.transactionType === 1, 
                'list-group-item-warning': transaction.transactionType === 0}" 
      *ngFor="let transaction of transactions">
      <b class="transactionType" *ngIf="transaction.transactionType === 0">Withdrawal</b>
      <b class="transactionType" *ngIf="transaction.transactionType === 1">Deposit</b>
      <span class="d-none d-md-inline d-lg-inlin d-xl-inline"> on {{ transaction.dateTimeCreatedUTC | date: 'medium'}}</span>
      <span class="float-right"><span *ngIf="transaction.transactionType === 0">-</span>
      {{ transaction.amount | currency }}</span>
  </li>
</ul>