<h4>Transactions</h4>
<hr />
<ul class="list-group" *ngIf="transactions.length === 0">
  <li class="list-group-item">You haven't made any transactions yet. Make some!</li>
</ul>
<ul class="list-group" *ngIf="transactions.length > 0">
  <span *ngFor="let transaction of transactions">
    <transaction [transaction]="transaction"></transaction>
  </span>
</ul>
<div *ngIf="!(ledgerService.allTransactionsLoaded$ | async)" class="text-center">
  <button (click)="loadTransactions()" class="btn btn-link ">Load more</button>
</div>