<div class="sticky-top card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Current Balance: {{ ledgerService.accountBalance$ | async | currency }}</h5>
                    </div>
                </div>
                <p>New transaction</p>
                <transaction-form></transaction-form>
                <button class="btn btn-link float-right" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</div>
<hr />
<transaction-list [transactions]="ledgerService.transactions$ | async">
</transaction-list>